streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langgraph
langgraph-checkpoint-sqlite
langchain-groq
langsmith
langfuse

chromadb
sqlalchemy

numpy
joblib
regex
pydantic
python-dotenv
huggingface-hub

opencv-python-headless
pillow

torch --index-url https://download.pytorch.org/whl/cpu
transformers

easyocr

presidio-analyzer
presidio-anonymizer
spacy
