chromadb
opencv-python-headless
python-dotenv
easyocr
huggingface-hub
ipykernel
joblib
langchain
langchain-classic
langchain-community
langchain-core
langchain-text-splitters
langfuse
langgraph
langsmith
matplotlib
numpy
ollama
pillow
pydantic
regex
sqlalchemy
torch
transformers
streamlit
langchain-groq
langgraph-checkpoint-sqlite
