chromadb
cv2
dotenv
easyocr
huggingface-hub
ipykernel
joblib
json
langchain
langchain-classic
langchain-community
langchain-core
langchain-text-splitters
langfuse
langgraph
langsmith
matplotlib
numpy
ollama
PIL
pydantic
regex
sqlalchemy
torch
transformers
typing
uuid
streamlit
